
body{
  color: #040320;
  background-color: #f5f5f5;
}

h1, h2, h3, h4,h5,h6{
  font-family: 'Roboto Mono', monospace;
  font-family: 'Work Sans', sans-serif;
}

a{
  text-decoration: none;
}

p{
  text-indent: 25px;
  font-family: Roboto Mono, Helvetica Neue, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  font-size: .95em;
  color: #333;
  text-align: justify;
}

hr {
  width:  50%;
  border-bottom: 0px solid #333;
  line-height: 0px;
}

header{
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

header a{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  color: #333;
}

nav{
  justify-content: center;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

nav a{
  font-family: Roboto Mono, Helvetica Neue, sans-serif;
  padding: 0 20px 0 20px;
  color: #999;
  justify-content: center;
}

main{
  margin-top: 50px;
  margin-bottom: 150px;
  width: 40%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

@media screen and (max-width: 800px) {
  main {
    max-width: 90%;
    width: 100%; 
  }
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  max-width: 100%;
  width: auto;
}

.title {
  text-align: center;
  margin-top: 25px;
  margin-bottom:25px;
  font-size: 2rem;
  font-weight: 400;
}

.meta{
  font-size: 0.9em;
  margin-bottom:25px;
  color: #999;
}

.description{
  margin: 0;
  font-size: 0.9em;
  text-align: center;
  color: #999;
}